$primary-color:  #9e1c1c;

a {
  text-decoration: none !important;
}

p {
  color: black;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 30px;
  z-index: 99;
}

.card {
  border: none;
  border-bottom: $primary-color solid 3px;
  border-radius: 0%;
  margin-bottom: 2em;
  width: 52em;

  &:hover {
    background-color: #e6e6e6;
  }
}

.article {

  &-pool {
    margin-top: 3em;
  }

  &-title {
    color: $primary-color;
    font-weight: 700;
    font-size: 1.3em;
  }

  &-date {
    font-family: libre baskerville Georgia sans-serif;
    color:$primary-color;
    text-align: right;
  }

  &-text {
    margin-bottom: 2em;
  }

  &-img {
    width: 40%;
    height: 40%;
    margin: 2em;
  }

}

.support {

  &-item {
    background-color: $primary-color;
    width: 34.7em;
    font-size: 1.5em;
    color: #fff;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    text-align: center;
  }

  &-link {
    background-color: #fff;
    color:$primary-color;
    font-weight: 600;
    padding: 3px 40px;
    display: inline-block;
    margin-top: 20px;
    width: 10em;
  }

  &-link:hover {
    transform: scale(.95);
    color: #9e1c1c;
  }
}

.oko-logo {
  width: 300px;
  height: 300px;
  position: fixed;
  margin-top: 6em;
  opacity: 0.2;

  &-container {
    margin-right: 320px
  }
}

.navigation {

  &-bar {
    position: fixed;
    width: -webkit-fill-available;
    height: 3em;
    background-color: #000;
    z-index: 999;
    border-bottom: $primary-color 3px solid;
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    max-width: 47px;
    width: 100%;
    height: auto;
    padding: 5px;
  }

  &-logo:hover {
    cursor: pointer;
  }
}

#spinner {
  margin-top: -110px;
  font-size: 10em;
  color: $primary-color;
  z-index: 999;
}

@media(max-width: 700px) {
  .article-img {
    display: none;
  }

  .oko-logo-container {
    display: none;
  }

  .card {
    width: fit-content;
  }

  .support-item {
    width: fit-content;
  }
}